<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <% for(let i = secrets.length - 1  ; i >= 0; i--) {%>
      <p class="secret-text"><%= secrets[i].secret %></p>
    <%} %>
    <p class="secret-text">i am goku !!.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/submit" role="button">Release Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
